body {
	background: #f5f6f7;
	font-family: "微软雅黑";
}

.nav-top {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	height: 52px;
	border-bottom: 1px solid #dbd9dc;
	z-index: 99;
}
.nav-logo {
	position: absolute;
	top: 13px;
	left: 6%;
}
.nav-login {
	position: absolute;
	top: 8px;
	right: 6%;
	background: #fff;
	color: #666;
	width: 78px;
	height: 34px;
	line-height: 34px;
	padding: 0px;
	outline: none;
	transition: background 0.5s;
}
.main-wrap {
	margin:0 auto;
	padding: 95px 15px 20px;
	min-width: 320px;
	max-width: 470px;
}
.member-form .title {
	margin: 0 0 30px;
	width: 100%;
	text-align: center;
	font-size: 30px;
}
.member-form .member-wrap {
	margin: 0 0 12px;
	height: 48px;
	position: relative;
	background: #fff;
	border: 1px solid #d9d9d9;
}
.member-form .member-info {
	padding: 10px 15px;
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
}
.member-form .input-clear {
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	display: none;
}
.member-form .input-clear i {
	font-size: 16px;
	color: #d9d9d9;
}
.member-form .input-clear:hover i {
	color: #00a8ff;
}
.member-form .error-tip {
	color: #f44;
	margin:-8px 0 6px;
	font-size: 12px;
	height: 20px;
}
.add-more {
	margin: 20px 0 12px;
	position: relative;
	color: #999;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #d9d9d9;
	text-align: center;
}
.submit-info {
	margin-top: 8px;
	background: #29e;
	color: #fff;
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-size: 18px;
	text-align: center;
	border-radius: 2px;
	cursor: pointer;
	transition: background 0.5s;
	border: none;
}
.submit-info:hover {
	background: #00a8ff;
}

.member-num-info {
	margin: 15px 0 18px 0;
	font-size: 18px;
	color: #b2b7be;
}
.other-invite-method {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	background: #fff;
	padding: 14px 20px;
}
.other-invite-method .clearfix {
	line-height: 25px;
	margin: 0px;
}
.other-invite-method .clearfix .other-method {
	float: left;
	color: #333;
}
.other-invite-method .clearfix .copy{
	float: right;
	color: #adb3ba;
	font-size: 14px;
}
.other-invite-method .invite-code {
	color: #2f9ceb;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
}
@media screen and (max-width: 460px){
	.other-invite-method .invite-code {
		font-size: 14px;
	}
}
.invite-code span:nth-of-type(1) {
	float: left;
}
.invite-code span:nth-of-type(2) {
	float: right;
}
.register-addr .title {
	float: left;
	vertical-align: top;
}
.register-addr .url{
	display: block;
	line-height: 20px;
	padding-left: 3px;
	word-break: keep-all;
	word-wrap: break-word;
	overflow: hidden;
	text-decoration: underline;
	color: #333;
}
.invite-tips {
	color: #797c80;
	font-size: 14px;
	margin-top: 10px;
}
.enter-wrap {
	margin-top: 12px;
	font-size: 12px;
	color: #29e;
}
.enter-wrap a:visited,
.enter-wrap a:hover,
.enter-wrap a:focus
 {
	color: #29e;
}
.copyright {
	font-size: 12px;
	margin-top: 10px;
}
.copyright p:nth-of-type(2) {
	color: #999;
}