<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        <!--别名-->
        <typeAliases>
            <typeAlias type="java.lang.Integer" alias="Integer"  />
            <typeAlias type="java.lang.Long" alias="Long" />
            <typeAlias type="java.util.HashMap" alias="HashMap" />
            <typeAlias type="java.util.LinkedHashMap" alias="LinkedHashMap" />
            <typeAlias type="java.util.ArrayList" alias="ArrayList" />
            <typeAlias type="java.util.LinkedList" alias="LinkedList"  />
            <!--<typeAlias type="com.ceying.chx.common.entity.TdictionaryEntity" alias="TdictionaryEntity" />-->
        </typeAliases>

    <!--<mappers>-->
        <!--<mapper resource="mapping/TripartiteAgreementMapper.xml"/>-->
    <!--</mappers>-->

</configuration>