body{
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    padding: 10px 10px 0 10px;
    overflow: hidden;
}
/*打开菜单*/
.openMenu{
    display: none;
    width: 20px;
    height: 100%;
    float: left;
    text-align: center;
    color: #3C99CE;
    cursor: pointer;
}
/*隐藏按钮*/
 .closeMenu{
    text-align: center;
    padding:  10px 0 0 0;
    color: #3C99CE;
 }
.close_left{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../../../bootstrap/assets/css/img/arrow_left.png');
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}
.close_left:hover{
     background-color: #EEEEEE;
    background-image: url('../../../bootstrap/assets/css/img/arrow_left_hover.png');
}
.open_right{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../../../bootstrap/assets/css/img/arrow_right.png');
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}
.open_right:hover{
    background-color: #EEEEEE;
    background-image: url('../../../bootstrap/assets/css/img/arrow_right_hover.png');
}
/*右侧菜单列表*/
.nav_list_wrap{
    width: 190px;
    background-color: white;
    display: inline-block;
    overflow: auto;
}
.nav_list span {
    color: #7C7C7C;
    padding-left: 32px;
    display: block;
    border-left: 4px solid white;
    cursor: pointer;
    line-height: 30px;
}
.nav_list span img{
    /*margin-left: -32px;*/
    margin: 0 3px 6px -32px;
}
.nav_list{
    margin-top: 22px;
}
.nav_list ul li{
    font-size: 13px;
    color: #7C7C7C;
    line-height: 26px;
}
.nav_list span i{
    margin-left: -23px;
    font-size: 15px;
    margin-right: 10px
}
.nav_list .active{
    background-color: #EEF3F7;
    border-left: 4px solid red;
    cursor: pointer;
}
.nav_list span:hover{
    background-color: #EEF3F7;
    border-left: 4px solid red;
}
/*左侧iframe列表*/
.nav_container{
    background-color: white;
    display: inline-block;
    float: right;
}
.nav_container iframe{
    border: none;
    width: 100%;
    height: 95%;
}