.waringlog_wrap{
	
}
.waringlog_list{
  /*   border: 1px solid #CDCDCD;   */ 
     height: 250px;   
     margin: 10px;
}
.waringlog_list h5{
	font-weight: 600; 
	color: #717682;
	margin: 5px 0px 5px 0px; 
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background-color: #FFFFFF;
	font-size: 15px;

}
.waringlog_item_wrap{
	overflow-y: auto; 
	height: 225px;
	padding: 0 5px 5px 5px;
}
.waringlog_item{
	height: 30px;
	line-height: 30px;
	background-color: #FC9149;
	color: #FFFFFF;
	margin-bottom: 10px;
	padding: 0 1px 0 5px;
	border: 1px solid #FC9149;
	border-radius: 0 15px 15px 0;
	overflow: hidden;
}
.waringlog_item span{
	background-color: #FFFFFF;
	color: #FC9149;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	float: right;
	padding: 0 10px;
	margin-top: 1px; 
	font-weight: 600;
	border: 1px solid #FFFFFF;
	border-radius: 0 15px 15px 0;
}
