<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.common.dao.triagreementtemp.TripartiteagreementTemplateDao">
    <resultMap id="BaseResultMap" type="TripartiteagreementTemplateEntity">
        <id column="urid" jdbcType="VARCHAR" property="urid" />
        <result column="tenant_id" jdbcType="DECIMAL" property="tenantId" />
        <result column="tatemplate_code" jdbcType="VARCHAR" property="tatemplateCode" />
        <result column="tatemplate_version" jdbcType="DECIMAL" property="tatemplateVersion" />
        <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
        <result column="corecompany_id" jdbcType="VARCHAR" property="corecompanyId" />
        <result column="credit_limit" jdbcType="DOUBLE" property="creditLimit" />
        <result column="isresourse" jdbcType="VARCHAR" property="isresourse" />
        <result column="isactive" jdbcType="VARCHAR" property="isactive" />
        <result column="createdby" jdbcType="VARCHAR" property="createdby" />
        <result column="createdon" jdbcType="TIMESTAMP" property="createdon" />
        <result column="last_modifiedby" jdbcType="VARCHAR" property="lastModifiedby" />
        <result column="last_modifiedon" jdbcType="TIMESTAMP" property="lastModifiedon" />
        <result column="rowversion" jdbcType="DECIMAL" property="rowversion" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="last_operateflag" jdbcType="VARCHAR" property="lastOperateflag" />
        <result column="businesstype" jdbcType="VARCHAR" property="businesstype" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="TripartiteagreementTemplateEntity">
        <result column="template_content" jdbcType="LONGVARBINARY" property="templateContent" />
    </resultMap>
    <!--公共sql-->
    <sql id="Base_Column_List">
        urid, tenant_id, tatemplate_code, tatemplate_version, bank_id, corecompany_id, credit_limit,
        isresourse, isactive, createdby, createdon, last_modifiedby, last_modifiedon, rowversion,
        description, last_operateflag, businesstype
    </sql>
    <sql id="Blob_Column_List">
        template_content
    </sql>

    <!--根据实体类参数查询所有的元素-->
    <select id="list" parameterType="TripartiteagreementTemplateEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from T_TRIPARTITEAGREEMENTTEMPLATE
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="urid != null and urid.length()>0"> AND urid=#{urid}</if>
            <if test="tenantId != null and tenantId.length()>0"> AND tenant_id=#{tenantId}</if>
            <if test="tatemplateCode != null and tatemplateCode.length()>0"> AND tatemplate_code=#{tatemplateCode}</if>
            <if test="tatemplateVersion != null and tatemplateVersion.length()>0"> AND tatemplate_version=#{tatemplateVersion}</if>
            <if test="bankId != null and bankId.length()>0"> AND bank_id=#{bankId}</if>
            <if test="corecompanyId != null and corecompanyId.length()>0"> AND corecompany_id=#{corecompanyId}</if>
            <if test="creditLimit != null and creditLimit.length()>0"> AND credit_limit=#{creditLimit}</if>
            <if test="isresourse != null and isresourse.length()>0"> AND isresourse=#{isresourse}</if>
            <if test="isactive != null and isactive.length()>0"> AND isactive=#{isactive}</if>
            <if test="lastOperateflag != null and lastOperateflag.length()>0"> AND last_operateflag=#{lastOperateflag}</if>
            <if test="businesstype != null and businesstype.length()>0"> AND businesstype=#{businesstype}</if>
            <if test="createdby != null and createdby.length()>0"> AND createdby=#{createdby}</if>
            <if test="createdon != null and createdon.length()>0"> AND createdon=#{createdon}</if>
            <if test="lastModifiedby != null and lastModifiedby.length()>0"> AND last_modifiedby=#{lastModifiedby}</if>
            <if test="lastModifiedon != null and lastModifiedon.length()>0"> AND last_modifiedon=#{lastModifiedon}</if>
            <if test="rowversion != null and rowversion.length()>0"> AND rowversion=#{rowversion}</if>
            <if test="description != null and description.length()>0"> AND description=#{description}</if>
        </trim>
    </select>

    <!--根据主键查询三方协议模板-->
    <select id="get" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from T_TRIPARTITEAGREEMENTTEMPLATE
        where urid = #{urid,jdbcType=VARCHAR}
    </select>

     <!--根据urid删除三方协议模板-->
    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
        <!--delete from T_TRIPARTITEAGREEMENTTEMPLATE-->
        <!--where urid = #{urid,jdbcType=VARCHAR}-->
    <!--</delete>-->
    <!--新增一条三方协议模板-->
    <insert id="save" parameterType="TripartiteagreementTemplateEntity">
        insert into T_TRIPARTITEAGREEMENTTEMPLATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="urid != null">
                urid,
            </if>
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="tatemplateCode != null">
                tatemplate_code,
            </if>
            <if test="tatemplateVersion != null">
                tatemplate_version,
            </if>
            <if test="bankId != null">
                bank_id,
            </if>
            <if test="corecompanyId != null">
                corecompany_id,
            </if>
            <if test="creditLimit != null">
                credit_limit,
            </if>
            <if test="isresourse != null">
                isresourse,
            </if>
            <if test="isactive != null">
                isactive,
            </if>
            <if test="createdby != null">
                createdby,
            </if>
            <if test="createdon != null">
                createdon,
            </if>
            <if test="lastModifiedby != null">
                last_modifiedby,
            </if>
            <if test="lastModifiedon != null">
                last_modifiedon,
            </if>
            <if test="rowversion != null">
                rowversion,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="lastOperateflag != null">
                last_operateflag,
            </if>
            <if test="businesstype != null">
                businesstype,
            </if>
            <if test="templateContent != null">
                template_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="urid != null">
                #{urid,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=DECIMAL},
            </if>
            <if test="tatemplateCode != null">
                #{tatemplateCode,jdbcType=VARCHAR},
            </if>
            <if test="tatemplateVersion != null">
                #{tatemplateVersion,jdbcType=DECIMAL},
            </if>
            <if test="bankId != null">
                #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="corecompanyId != null">
                #{corecompanyId,jdbcType=VARCHAR},
            </if>
            <if test="creditLimit != null">
                #{creditLimit,jdbcType=DOUBLE},
            </if>
            <if test="isresourse != null">
                #{isresourse,jdbcType=VARCHAR},
            </if>
            <if test="isactive != null">
                #{isactive,jdbcType=VARCHAR},
            </if>
            <if test="createdby != null">
                #{createdby,jdbcType=VARCHAR},
            </if>
            <if test="createdon != null">
                #{createdon,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedby != null">
                #{lastModifiedby,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedon != null">
                #{lastModifiedon,jdbcType=TIMESTAMP},
            </if>
            <if test="rowversion != null">
                #{rowversion,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="lastOperateflag != null">
                #{lastOperateflag,jdbcType=VARCHAR},
            </if>
            <if test="businesstype != null">
                #{businesstype,jdbcType=VARCHAR},
            </if>
            <if test="templateContent != null">
                #{templateContent,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>

    <!--返回指定的三方协议模板-->
    <!--<insert id="insertSelective" parameterType="TripartiteagreementTemplateEntity">-->
        <!--insert into T_TRIPARTITEAGREEMENTTEMPLATE-->
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
            <!--<if test="urid != null">-->
                <!--urid,-->
            <!--</if>-->
            <!--<if test="tenantId != null">-->
                <!--tenant_id,-->
            <!--</if>-->
            <!--<if test="tatemplateCode != null">-->
                <!--tatemplate_code,-->
            <!--</if>-->
            <!--<if test="tatemplateVersion != null">-->
                <!--tatemplate_version,-->
            <!--</if>-->
            <!--<if test="bankId != null">-->
                <!--bank_id,-->
            <!--</if>-->
            <!--<if test="corecompanyId != null">-->
                <!--corecompany_id,-->
            <!--</if>-->
            <!--<if test="creditLimit != null">-->
                <!--credit_limit,-->
            <!--</if>-->
            <!--<if test="isresourse != null">-->
                <!--isresourse,-->
            <!--</if>-->
            <!--<if test="isactive != null">-->
                <!--isactive,-->
            <!--</if>-->
            <!--<if test="createdby != null">-->
                <!--createdby,-->
            <!--</if>-->
            <!--<if test="createdon != null">-->
                <!--createdon,-->
            <!--</if>-->
            <!--<if test="lastModifiedby != null">-->
                <!--last_modifiedby,-->
            <!--</if>-->
            <!--<if test="lastModifiedon != null">-->
                <!--last_modifiedon,-->
            <!--</if>-->
            <!--<if test="rowversion != null">-->
                <!--rowversion,-->
            <!--</if>-->
            <!--<if test="description != null">-->
                <!--description,-->
            <!--</if>-->
            <!--<if test="lastOperateflag != null">-->
                <!--last_operateflag,-->
            <!--</if>-->
            <!--<if test="businesstype != null">-->
                <!--businesstype,-->
            <!--</if>-->
            <!--<if test="templateContent != null">-->
                <!--template_content,-->
            <!--</if>-->
        <!--</trim>-->
        <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
            <!--<if test="urid != null">-->
                <!--#{urid,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="tenantId != null">-->
                <!--#{tenantId,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="tatemplateCode != null">-->
                <!--#{tatemplateCode,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="tatemplateVersion != null">-->
                <!--#{tatemplateVersion,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="bankId != null">-->
                <!--#{bankId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="corecompanyId != null">-->
                <!--#{corecompanyId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="creditLimit != null">-->
                <!--#{creditLimit,jdbcType=DOUBLE},-->
            <!--</if>-->
            <!--<if test="isresourse != null">-->
                <!--#{isresourse,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="isactive != null">-->
                <!--#{isactive,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="createdby != null">-->
                <!--#{createdby,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="createdon != null">-->
                <!--#{createdon,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="lastModifiedby != null">-->
                <!--#{lastModifiedby,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="lastModifiedon != null">-->
                <!--#{lastModifiedon,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="rowversion != null">-->
                <!--#{rowversion,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="description != null">-->
                <!--#{description,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="lastOperateflag != null">-->
                <!--#{lastOperateflag,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="businesstype != null">-->
                <!--#{businesstype,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="templateContent != null">-->
                <!--#{templateContent,jdbcType=LONGVARBINARY},-->
            <!--</if>-->
        <!--</trim>-->
    <!--</insert>-->

    <!--更新指定的三方协议模板-->
    <update id="update" parameterType="TripartiteagreementTemplateEntity">
        UPDATE  T_TRIPARTITEAGREEMENTTEMPLATE
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=DECIMAL},
            </if>
            <if test="tatemplateCode != null">
                tatemplate_code = #{tatemplateCode,jdbcType=VARCHAR},
            </if>
            <if test="tatemplateVersion != null">
                tatemplate_version = #{tatemplateVersion,jdbcType=DECIMAL},
            </if>
            <if test="bankId != null">
                bank_id = #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="corecompanyId != null">
                corecompany_id = #{corecompanyId,jdbcType=VARCHAR},
            </if>
            <if test="creditLimit != null">
                credit_limit = #{creditLimit,jdbcType=DOUBLE},
            </if>
            <if test="isresourse != null">
                isresourse = #{isresourse,jdbcType=VARCHAR},
            </if>
            <if test="isactive != null">
                isactive = #{isactive,jdbcType=VARCHAR},
            </if>
            <if test="createdby != null">
                createdby = #{createdby,jdbcType=VARCHAR},
            </if>
            <if test="createdon != null">
                createdon = #{createdon,jdbcType=TIMESTAMP},
            </if>
            <if test="lastModifiedby != null">
                last_modifiedby = #{lastModifiedby,jdbcType=VARCHAR},
            </if>
            <if test="lastModifiedon != null">
                last_modifiedon = #{lastModifiedon,jdbcType=TIMESTAMP},
            </if>
            <if test="rowversion != null">
                rowversion = #{rowversion,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="lastOperateflag != null">
                last_operateflag = #{lastOperateflag,jdbcType=VARCHAR},
            </if>
            <if test="businesstype != null">
                businesstype = #{businesstype,jdbcType=VARCHAR},
            </if>
            <if test="templateContent != null">
                template_content = #{templateContent,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where urid = #{urid,jdbcType=VARCHAR}
    </update>

    <!--<update id="updateByPrimaryKeySelective" parameterType="TripartiteagreementTemplateEntity">-->
        <!--update T_TRIPARTITEAGREEMENTTEMPLATE-->
        <!--<set>-->
            <!--<if test="tenantId != null">-->
                <!--tenant_id = #{tenantId,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="tatemplateCode != null">-->
                <!--tatemplate_code = #{tatemplateCode,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="tatemplateVersion != null">-->
                <!--tatemplate_version = #{tatemplateVersion,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="bankId != null">-->
                <!--bank_id = #{bankId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="corecompanyId != null">-->
                <!--corecompany_id = #{corecompanyId,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="creditLimit != null">-->
                <!--credit_limit = #{creditLimit,jdbcType=DOUBLE},-->
            <!--</if>-->
            <!--<if test="isresourse != null">-->
                <!--isresourse = #{isresourse,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="isactive != null">-->
                <!--isactive = #{isactive,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="createdby != null">-->
                <!--createdby = #{createdby,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="createdon != null">-->
                <!--createdon = #{createdon,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="lastModifiedby != null">-->
                <!--last_modifiedby = #{lastModifiedby,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="lastModifiedon != null">-->
                <!--last_modifiedon = #{lastModifiedon,jdbcType=TIMESTAMP},-->
            <!--</if>-->
            <!--<if test="rowversion != null">-->
                <!--rowversion = #{rowversion,jdbcType=DECIMAL},-->
            <!--</if>-->
            <!--<if test="description != null">-->
                <!--description = #{description,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="lastOperateflag != null">-->
                <!--last_operateflag = #{lastOperateflag,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="businesstype != null">-->
                <!--businesstype = #{businesstype,jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="templateContent != null">-->
                <!--template_content = #{templateContent,jdbcType=LONGVARBINARY},-->
            <!--</if>-->
        <!--</set>-->
        <!--where urid = #{urid,jdbcType=VARCHAR}-->
    <!--</update>-->

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="TripartiteagreementTemplateEntity">
        update T_TRIPARTITEAGREEMENTTEMPLATE
        set tenant_id = #{tenantId,jdbcType=DECIMAL},
        tatemplate_code = #{tatemplateCode,jdbcType=VARCHAR},
        tatemplate_version = #{tatemplateVersion,jdbcType=DECIMAL},
        bank_id = #{bankId,jdbcType=VARCHAR},
        corecompany_id = #{corecompanyId,jdbcType=VARCHAR},
        credit_limit = #{creditLimit,jdbcType=DOUBLE},
        isresourse = #{isresourse,jdbcType=VARCHAR},
        isactive = #{isactive,jdbcType=VARCHAR},
        createdby = #{createdby,jdbcType=VARCHAR},
        createdon = #{createdon,jdbcType=TIMESTAMP},
        last_modifiedby = #{lastModifiedby,jdbcType=VARCHAR},
        last_modifiedon = #{lastModifiedon,jdbcType=TIMESTAMP},
        rowversion = #{rowversion,jdbcType=DECIMAL},
        description = #{description,jdbcType=VARCHAR},
        last_operateflag = #{lastOperateflag,jdbcType=VARCHAR},
        businesstype = #{businesstype,jdbcType=VARCHAR},
        template_content = #{templateContent,jdbcType=LONGVARBINARY}
        where urid = #{urid,jdbcType=VARCHAR}
    </update>

    <!--<update id="updateByPrimaryKey" parameterType="TripartiteagreementTemplateEntity">-->
        <!--update T_TRIPARTITEAGREEMENTTEMPLATE-->
        <!--set tenant_id = #{tenantId,jdbcType=DECIMAL},-->
        <!--tatemplate_code = #{tatemplateCode,jdbcType=VARCHAR},-->
        <!--tatemplate_version = #{tatemplateVersion,jdbcType=DECIMAL},-->
        <!--bank_id = #{bankId,jdbcType=VARCHAR},-->
        <!--corecompany_id = #{corecompanyId,jdbcType=VARCHAR},-->
        <!--credit_limit = #{creditLimit,jdbcType=DOUBLE},-->
        <!--isresourse = #{isresourse,jdbcType=VARCHAR},-->
        <!--isactive = #{isactive,jdbcType=VARCHAR},-->
        <!--createdby = #{createdby,jdbcType=VARCHAR},-->
        <!--createdon = #{createdon,jdbcType=TIMESTAMP},-->
        <!--last_modifiedby = #{lastModifiedby,jdbcType=VARCHAR},-->
        <!--last_modifiedon = #{lastModifiedon,jdbcType=TIMESTAMP},-->
        <!--rowversion = #{rowversion,jdbcType=DECIMAL},-->
        <!--description = #{description,jdbcType=VARCHAR},-->
        <!--last_operateflag = #{lastOperateflag,jdbcType=VARCHAR},-->
        <!--businesstype = #{businesstype,jdbcType=VARCHAR}-->
        <!--where urid = #{urid,jdbcType=VARCHAR}-->
    <!--</update>-->

    <!--根据三方协议模板参数查询三方协议模板总数-->
    <select id="selectForSame" parameterType="TripartiteagreementTemplateEntity" resultType="java.lang.Integer">
        select count(1)
        from T_TRIPARTITEAGREEMENTTEMPLATE a
        where a.bank_id=#{bankId} and a.corecompany_id=#{corecompanyId}
    </select>

    <!--查询指定组织的相关的三方协议，bankid或者corecompanyid和平台可以看-->
    <select id="selectListBySelective" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from (select t.*
            from T_TRIPARTITEAGREEMENTTEMPLATE t,
                (select  tatemplate_code,
                        max(tatemplate_version) as tatemplate_version
                            from T_TRIPARTITEAGREEMENTTEMPLATE
                            group by tatemplate_code)  m
            where 1=1
            and t.tatemplate_code = m.tatemplate_code
            and t.tatemplate_version = m.tatemplate_version
            and ( 1=1
                <if test="orgId != null">
                  or t.bank_id = #{orgId,jdbcType=VARCHAR}
                </if>
                <if test="orgId != null">
                  or t.corecompany_id = #{orgId,jdbcType=VARCHAR}
                </if>
                or '6000001' = #{orgId}
               )
                <!--<if test="start != null and limit !=null  ">-->
                    <!--limit #{start},#{limit}-->
                <!--</if>-->
            ) aa
    </select>

    <!--查询指定组织的相关的三方协议的总数-->
    <select id="totalCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*)
        from T_TRIPARTITEAGREEMENTTEMPLATE t,
        (select  tatemplate_code,
        max(tatemplate_version) as tatemplate_version
        from T_TRIPARTITEAGREEMENTTEMPLATE
        group by tatemplate_code)  m
        where 1=1
        and t.tatemplate_code = m.tatemplate_code
        and t.tatemplate_version = m.tatemplate_version
        and ( 1=1
        <if test="orgId != null">
            or t.bank_id = #{orgId,jdbcType=VARCHAR}
        </if>
        <if test="orgId != null">
            or t.corecompany_id = #{orgId,jdbcType=VARCHAR}
        </if>
        or '6000001' = #{orgId}
        )
    </select>

    <!--统一以bankid为查询参数，在核心企业代码中也是以银行id查询-->
    <select id="selectBySelective" parameterType="TripartiteagreementTemplateEntity" resultMap="BaseResultMap">
        select *
        from T_TRIPARTITEAGREEMENTTEMPLATE a,t_tatemplateoperations b
        <where>
            <if test="bankId != null ">
                a.bank_id = #{bankId}
            </if>
            <if test="bankId != null ">
                or a.corecompany_id = #{bankId}
            </if>
            <if test=" true ">
                and a.urid=b.tatemplate_id
                and b.operate_flag=#{operateflag}
            </if>
        </where>
    </select>

    <delete id="remove" parameterType="java.lang.String">
        delete from t_tripartiteagreementtemplate
        where urid = #{urid,jdbcType=VARCHAR}
    </delete>

</mapper>