<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.common.dao.TransDao">
  <resultMap id="BaseResultMap" type="TransEntity">
    <id column="trans_code" jdbcType="VARCHAR" property="transCode" />
    <result column="trans_name" jdbcType="VARCHAR" property="transName" />
    <result column="kind_code" jdbcType="VARCHAR" property="kindCode" />
    <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trans_code, trans_name, kind_code, model_code, remark, ext_field_1, ext_field_2, 
    ext_field_3
  </sql>

  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from tsys_trans-->
    <!--where trans_code = #{transCode,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from tsys_trans-->
    <!--where trans_code = #{transCode,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="TransEntity">-->
    <!--insert into tsys_trans (trans_code, trans_name, kind_code, -->
      <!--model_code, remark, ext_field_1, -->
      <!--ext_field_2, ext_field_3)-->
    <!--values (#{transCode,jdbcType=VARCHAR}, #{transName,jdbcType=VARCHAR}, #{kindCode,jdbcType=VARCHAR}, -->
      <!--#{modelCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{extField1,jdbcType=VARCHAR}, -->
      <!--#{extField2,jdbcType=VARCHAR}, #{extField3,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="TransEntity">-->
    <!--insert into tsys_trans-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="transCode != null">-->
        <!--trans_code,-->
      <!--</if>-->
      <!--<if test="transName != null">-->
        <!--trans_name,-->
      <!--</if>-->
      <!--<if test="kindCode != null">-->
        <!--kind_code,-->
      <!--</if>-->
      <!--<if test="modelCode != null">-->
        <!--model_code,-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--remark,-->
      <!--</if>-->
      <!--<if test="extField1 != null">-->
        <!--ext_field_1,-->
      <!--</if>-->
      <!--<if test="extField2 != null">-->
        <!--ext_field_2,-->
      <!--</if>-->
      <!--<if test="extField3 != null">-->
        <!--ext_field_3,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="transCode != null">-->
        <!--#{transCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="transName != null">-->
        <!--#{transName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="kindCode != null">-->
        <!--#{kindCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="modelCode != null">-->
        <!--#{modelCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--#{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField1 != null">-->
        <!--#{extField1,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField2 != null">-->
        <!--#{extField2,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField3 != null">-->
        <!--#{extField3,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update tsys_trans-->
    <!--<set>-->
      <!--<if test="record.transCode != null">-->
        <!--trans_code = #{record.transCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.transName != null">-->
        <!--trans_name = #{record.transName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.kindCode != null">-->
        <!--kind_code = #{record.kindCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.modelCode != null">-->
        <!--model_code = #{record.modelCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.remark != null">-->
        <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.extField1 != null">-->
        <!--ext_field_1 = #{record.extField1,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.extField2 != null">-->
        <!--ext_field_2 = #{record.extField2,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.extField3 != null">-->
        <!--ext_field_3 = #{record.extField3,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update tsys_trans-->
    <!--set trans_code = #{record.transCode,jdbcType=VARCHAR},-->
      <!--trans_name = #{record.transName,jdbcType=VARCHAR},-->
      <!--kind_code = #{record.kindCode,jdbcType=VARCHAR},-->
      <!--model_code = #{record.modelCode,jdbcType=VARCHAR},-->
      <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--ext_field_1 = #{record.extField1,jdbcType=VARCHAR},-->
      <!--ext_field_2 = #{record.extField2,jdbcType=VARCHAR},-->
      <!--ext_field_3 = #{record.extField3,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="TransEntity">-->
    <!--update tsys_trans-->
    <!--<set>-->
      <!--<if test="transName != null">-->
        <!--trans_name = #{transName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="kindCode != null">-->
        <!--kind_code = #{kindCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="modelCode != null">-->
        <!--model_code = #{modelCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField1 != null">-->
        <!--ext_field_1 = #{extField1,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField2 != null">-->
        <!--ext_field_2 = #{extField2,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extField3 != null">-->
        <!--ext_field_3 = #{extField3,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where trans_code = #{transCode,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="TransEntity">-->
    <!--update tsys_trans-->
    <!--set trans_name = #{transName,jdbcType=VARCHAR},-->
      <!--kind_code = #{kindCode,jdbcType=VARCHAR},-->
      <!--model_code = #{modelCode,jdbcType=VARCHAR},-->
      <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--ext_field_1 = #{extField1,jdbcType=VARCHAR},-->
      <!--ext_field_2 = #{extField2,jdbcType=VARCHAR},-->
      <!--ext_field_3 = #{extField3,jdbcType=VARCHAR}-->
    <!--where trans_code = #{transCode,jdbcType=VARCHAR}-->
  <!--</update>-->
</mapper>