li{
    list-style: none;
}
ul,li,iframe{
    margin: 0px;
    padding: 0px;
}
/*������ɫ*/
.col1{
    color: #8081A7 !important;
}
.col2{
    color: #E6C086 !important;
}
.col3{
    color: #848e9a !important;
}
.col4{
    color: #8983AA !important;
}
.col5{
    color: #7AB4D6 !important;
}
.text-tips{
    color: red;
}
/*����input��ʽ*/
.each_input_wrap{
    min-height: 28px;
    line-height: 28px;
    margin: 10px 0;
    /*border: 1px solid red;*/
}
.each_textarea_wrap{
    margin: 10px 0;
}
.each_input,.each_textarea{
    height: 28px;
    width: 100%;
    border: 1px solid #C9C9C9;
}
.input_title{
    color: #6E6E6E;
    font-size: 12px;
    font-weight: normal;
}
/*����������ʾ*/
.check_tips:before{
    content: "*";
    color: red;
    font-size: 18px;
    margin-right: 3px;
    margin-left: -10px;
}
/*ͼ���С*/
.fa-1_5x{
    font-size: 15px;
}

