<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.common.dao.triagreementtemp.TaTemplateOperationsDao">
    <resultMap id="BaseResultMap" type="TaTemplateOperationsEntity">
        <id column="urid" jdbcType="VARCHAR" property="urid" />
        <result column="tatemplate_id" jdbcType="VARCHAR" property="tatemplateId" />
        <result column="operator" jdbcType="VARCHAR" property="operator" />
        <result column="operate_org_id" jdbcType="VARCHAR" property="operateOrgId" />
        <result column="operate_date" jdbcType="TIMESTAMP" property="operateDate" />
        <result column="operate_flag" jdbcType="VARCHAR" property="operateFlag" />
        <result column="signature" jdbcType="VARCHAR" property="signature" />
        <result column="createby" jdbcType="VARCHAR" property="createby" />
        <result column="createdon" jdbcType="TIMESTAMP" property="createdon" />
        <result column="lastmodifiedby" jdbcType="VARCHAR" property="lastmodifiedby" />
        <result column="lastmodifiedon" jdbcType="TIMESTAMP" property="lastmodifiedon" />
        <result column="rowversion" jdbcType="DECIMAL" property="rowversion" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="relateoperate_id" jdbcType="VARCHAR" property="relateoperateId" />
        <result column="blockchainaddress" jdbcType="VARCHAR" property="blockchainaddress" />
    </resultMap>
    <sql id="Base_Column_List">
        urid, tatemplate_id, operator, operate_org_id, operate_date, operate_flag, signature,
        createby, createdon, lastmodifiedby, lastmodifiedon, rowversion, description, relateoperate_id,
        blockchainaddress
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_tatemplateoperations
        where urid = #{urid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_tatemplateoperations
        where urid = #{urid,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="TaTemplateOperationsEntity">
        insert into t_tatemplateoperations (urid, tatemplate_id, operator,
        operate_org_id, operate_date, operate_flag,
        signature, createby, createdon,
        lastmodifiedby, lastmodifiedon, rowversion,
        description, relateoperate_id, blockchainaddress
        )
        values (#{urid,jdbcType=VARCHAR}, #{tatemplateId,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR},
        #{operateOrgId,jdbcType=VARCHAR}, #{operateDate,jdbcType=TIMESTAMP}, #{operateFlag,jdbcType=VARCHAR},
        #{signature,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP},
        #{lastmodifiedby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=TIMESTAMP}, #{rowversion,jdbcType=DECIMAL},
        #{description,jdbcType=VARCHAR}, #{relateoperateId,jdbcType=VARCHAR}, #{blockchainaddress,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="TaTemplateOperationsEntity">
        insert into t_tatemplateoperations
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="urid != null">
                urid,
            </if>
            <if test="tatemplateId != null">
                tatemplate_id,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="operateOrgId != null">
                operate_org_id,
            </if>
            <if test="operateDate != null">
                operate_date,
            </if>
            <if test="operateFlag != null">
                operate_flag,
            </if>
            <if test="signature != null">
                signature,
            </if>
            <if test="createby != null">
                createby,
            </if>
            <if test="createdon != null">
                createdon,
            </if>
            <if test="lastmodifiedby != null">
                lastmodifiedby,
            </if>
            <if test="lastmodifiedon != null">
                lastmodifiedon,
            </if>
            <if test="rowversion != null">
                rowversion,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="relateoperateId != null">
                relateoperate_id,
            </if>
            <if test="blockchainaddress != null">
                blockchainaddress,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="urid != null">
                #{urid,jdbcType=VARCHAR},
            </if>
            <if test="tatemplateId != null">
                #{tatemplateId,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateOrgId != null">
                #{operateOrgId,jdbcType=VARCHAR},
            </if>
            <if test="operateDate != null">
                #{operateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="operateFlag != null">
                #{operateFlag,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                #{signature,jdbcType=VARCHAR},
            </if>
            <if test="createby != null">
                #{createby,jdbcType=VARCHAR},
            </if>
            <if test="createdon != null">
                #{createdon,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmodifiedby != null">
                #{lastmodifiedby,jdbcType=VARCHAR},
            </if>
            <if test="lastmodifiedon != null">
                #{lastmodifiedon,jdbcType=TIMESTAMP},
            </if>
            <if test="rowversion != null">
                #{rowversion,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="relateoperateId != null">
                #{relateoperateId,jdbcType=VARCHAR},
            </if>
            <if test="blockchainaddress != null">
                #{blockchainaddress,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="TaTemplateOperationsEntity">
        update t_tatemplateoperations
        <set>
            <if test="tatemplateId != null">
                tatemplate_id = #{tatemplateId,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="operateOrgId != null">
                operate_org_id = #{operateOrgId,jdbcType=VARCHAR},
            </if>
            <if test="operateDate != null">
                operate_date = #{operateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="operateFlag != null">
                operate_flag = #{operateFlag,jdbcType=VARCHAR},
            </if>
            <if test="signature != null">
                signature = #{signature,jdbcType=VARCHAR},
            </if>
            <if test="createby != null">
                createby = #{createby,jdbcType=VARCHAR},
            </if>
            <if test="createdon != null">
                createdon = #{createdon,jdbcType=TIMESTAMP},
            </if>
            <if test="lastmodifiedby != null">
                lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
            </if>
            <if test="lastmodifiedon != null">
                lastmodifiedon = #{lastmodifiedon,jdbcType=TIMESTAMP},
            </if>
            <if test="rowversion != null">
                rowversion = #{rowversion,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="relateoperateId != null">
                relateoperate_id = #{relateoperateId,jdbcType=VARCHAR},
            </if>
            <if test="blockchainaddress != null">
                blockchainaddress = #{blockchainaddress,jdbcType=VARCHAR},
            </if>
        </set>
        where urid = #{urid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="TaTemplateOperationsEntity">
        update t_tatemplateoperations
        set tatemplate_id = #{tatemplateId,jdbcType=VARCHAR},
        operator = #{operator,jdbcType=VARCHAR},
        operate_org_id = #{operateOrgId,jdbcType=VARCHAR},
        operate_date = #{operateDate,jdbcType=TIMESTAMP},
        operate_flag = #{operateFlag,jdbcType=VARCHAR},
        signature = #{signature,jdbcType=VARCHAR},
        createby = #{createby,jdbcType=VARCHAR},
        createdon = #{createdon,jdbcType=TIMESTAMP},
        lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
        lastmodifiedon = #{lastmodifiedon,jdbcType=TIMESTAMP},
        rowversion = #{rowversion,jdbcType=DECIMAL},
        description = #{description,jdbcType=VARCHAR},
        relateoperate_id = #{relateoperateId,jdbcType=VARCHAR},
        blockchainaddress = #{blockchainaddress,jdbcType=VARCHAR}
        where urid = #{urid,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByTatemplateId" parameterType="java.lang.String">
        delete from t_tatemplateoperations where tatemplate_id=#{tatemplateId}
    </delete>
</mapper>